

.card {
  background: #fff;
  width: 17.5em;
  border-radius: 0.6em;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 13px 27px -5px rgba(50,50,93,.25), 0 8px 16px -8px rgba(0,0,0,.3), 0 -6px 16px -6px rgba(0,0,0,.03);
  transition: all .2s ease;
  height: 430px;
  margin-bottom: 1.8rem;
}

.card:hover {
  transform: scale(1.03);
  box-shadow: 0 13px 40px -5px hsla(240, 30.1%, 28%, 0.12), 0 8px 32px -8px hsla(0, 0%, 0%, 0.14), 0 -6px 32px -6px hsla(0, 0%, 0%, 0.02);
}

.carImgBox{
  padding: 10px;
}
.card img {
  width: 100%;
  object-fit: contain;
  height: 200px;
}

.card h2 {
  color: #222;
  margin-top: -0.2em;
  line-height: 1.4;
  font-size: 1.3em;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  transition: all ease-in 100ms;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

.card p {
  color: #777;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

.addBtn{
  margin-bottom: 0;
  padding: 20px;
  padding-top: 0;
  height: 60px;
  display: block;
  position: relative;
}

.addBtn span{
  background-color: aliceblue;
  border-radius:10px;
  padding: 10px;
  border: 1px solid blue;
  position: absolute;
  bottom: 0px;
}

.card-body {
  padding: 1.2em;
  height: 70px;
}